<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
    .line {
      fill: none;
      stroke: GoldenRod;
      stroke-width: 2px;
    }

    </style>
    <title>History</title>
    <link href="main.css" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="dist/jquery.min.js"></script>
    <script src="dist/react-0.12.2.js"></script>
    <script src="dist/d3/d3.min.js"></script>
    <script type=text/javascript>
    var historyData = JSON.parse(<%- JSON.stringify(historyData) %>);
    var lowerBound = 4;
    var upperBound = 9;
    var dataPickerInterval = 1000 * 60 * 60 * 1;
    var dataPickerTempTime = 0;
    var drawLineChart = function(data, dayAgo) {
        data.forEach(function(d){
          d.exetime = new Date(d['exetime']);
          d.value = +d['value'];
          return d;
        });


        var margin = {top: 30, right: 0, bottom: 30, left: 0},
            width = 720 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        var xScale = d3.scaleTime()
            .range([0, width]);

        var yScale = d3.scaleLinear()
            .range([height, 0]);

        var timeDomain = d3.extent(data, function(d) { return d.exetime; });
        if ((timeDomain[1].getTime() -  timeDomain[0].getTime()) > 1000 * 60 * 60 * 24 * dayAgo) {
          timeDomain[0].setTime(timeDomain[1].getTime() - 1000 * 60 * 60 * 24 * dayAgo );
        }
        xScale.domain(timeDomain);
        yScale.domain([1, 14]);

        var line = d3.line()
            .x(function(d) {
              return xScale(d.exetime); })
            .y(function(d) {
              return yScale(d.value);
            });

        var svg = d3.select("#history_data").append("svg")
            .attr("width", width + margin.left + margin.right )
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);

        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(xScale));

        svg.append("g")
          .call(d3.axisLeft(yScale));

        var pointColorFunction = function(d, i) {
          if (d.value > upperBound || d.value < lowerBound) {
            return "Red";
          } else {
            return "Green";
          }
        }

        var pointSizeFunction = function(d) {
          if (d.value > upperBound || d.value < lowerBound) {
            return 4;
          } else {
            return 2;
          }
        }

        var showPointValueTime = function(d) {
            var showTime = d3.timeFormat("%Y-%m-%d %H:%M:%S");
            return showTime(d.exetime) + "\n" + d.value;
        }

        svg.selectAll(".point")
          .data(data)
          .enter().append("svg:circle")
           .attr("stroke", "Black")
           .attr("fill", pointColorFunction)
           .attr("cx", function(d, i) { return xScale(d.exetime) })
           .attr("cy", function(d, i) { return yScale(d.value) })
           .attr("r", pointSizeFunction)
           .on("mouseover", function(d) {
              d3.select(this)
                .attr("r", function(d, i) { return 8 });
			      })
           .on("mouseout", function(d) {
              d3.select(this)
                .attr("r", pointSizeFunction);
           })
           .append("svg:title")
           .text(showPointValueTime);

        // svg.append("text")
        //     .attr("transform",
        //       "translate(" + (width/2) + " ," +
        //             (height + margin.top + 10) + ")")
        //             .style("text-anchor", "middle")
        //             .text("Date");
        // svg.append("text")
        //      .attr("transform", "rotate(-90)")
        //      .attr("y", 0 - margin.left -10)
        //      .attr("x",0 - (height / 2))
        //      .attr("dy", "1em")
        //      .style("text-anchor", "middle")
        //      .text("Value");
    };
    document.addEventListener('DOMContentLoaded', function(event) {
      drawLineChart(historyData, 1.5);
    });
    </script>
  </head>

  <body>
    <h1>History</h1>
    <div id="history_data">
    </div>
  </body>
</html>
